{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hi {{ user }}</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'cookschedule/favicon.ico' %}"/>

</head>

<body><div class="mt-1 ml-1 mr-1">
    <h6 class="display-4">Hello, {{ user }}!</h6>

    <p class="lead">
        It has been <b><i>{{ last_update }}</i></b> since your last update on Cook Scheduler.
        Among the <b><i>{{ num_days }} days</i></b> you stayed with us,
        you paired up with <b><i>{{ partner }}</i></b> the most, and cooked <b>{{ num_meal }} meals </b>for
        you and others.<br>
    </p>
    <br>


    <blockquote class="blockquote text-center">
        <b><i>{{ setup }}</i></b><br>
        {{ punchline }}<br><br>
    </blockquote>


    <h5>
        <a href="{% url "cookschedule:change_password" %}" style="color:black"><u>Change password</u></a> |
        <a href="{% url "cookschedule:logout" %}" style="color:black"><u>Logout</u></a> |
        <a href="{% url "cookschedule:index" %}" style="color:black"><u>Homepage</u></a>
    </h5>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</div></body>
</html>